<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>IconFont</title>
    <link rel="stylesheet" href="index.css">
    <link rel="stylesheet" href="iconfont.css">
</head>

<body>
    <div class="main markdown">
        <h1>图标类型和预览</h1>
        <ul class="icon_lists clear">

            <li>
                <i class="icon iconfont icon-add"></i>
                <div class="name">add</div>
            </li>

            <li>
                <i class="icon iconfont icon-add-circle"></i>
                <div class="name">add-circle</div>
            </li>

            <li>
                <i class="icon iconfont icon-add-circle-outline"></i>
                <div class="name">add-circle-outline</div>
            </li>

            <li>
                <i class="icon iconfont icon-albums"></i>
                <div class="name">albums</div>
            </li>

            <li>
                <i class="icon iconfont icon-airplane"></i>
                <div class="name">airplane</div>
            </li>

            <li>
                <i class="icon iconfont icon-alarm"></i>
                <div class="name">alarm</div>
            </li>

            <li>
                <i class="icon iconfont icon-alert"></i>
                <div class="name">alert</div>
            </li>

            <li>
                <i class="icon iconfont icon-appstore"></i>
                <div class="name">appstore</div>
            </li>

            <li>
                <i class="icon iconfont icon-aperture"></i>
                <div class="name">aperture</div>
            </li>

            <li>
                <i class="icon iconfont icon-american-football"></i>
                <div class="name">american-football</div>
            </li>

            <li>
                <i class="icon iconfont icon-analytics"></i>
                <div class="name">analytics</div>
            </li>

            <li>
                <i class="icon iconfont icon-apps"></i>
                <div class="name">apps</div>
            </li>

            <li>
                <i class="icon iconfont icon-archive"></i>
                <div class="name">archive</div>
            </li>

            <li>
                <i class="icon iconfont icon-arrow-down"></i>
                <div class="name">arrow-down</div>
            </li>

            <li>
                <i class="icon iconfont icon-arrow-dropdown-circl"></i>
                <div class="name">arrow-dropdown-circl</div>
            </li>

            <li>
                <i class="icon iconfont icon-arrow-back"></i>
                <div class="name">arrow-back</div>
            </li>

            <li>
                <i class="icon iconfont icon-arrow-dropleft"></i>
                <div class="name">arrow-dropleft</div>
            </li>

            <li>
                <i class="icon iconfont icon-arrow-dropdown"></i>
                <div class="name">arrow-dropdown</div>
            </li>

            <li>
                <i class="icon iconfont icon-arrow-dropleft-circl"></i>
                <div class="name">arrow-dropleft-circl</div>
            </li>

            <li>
                <i class="icon iconfont icon-arrow-dropup-circle"></i>
                <div class="name">arrow-dropup-circle</div>
            </li>

            <li>
                <i class="icon iconfont icon-arrow-forward"></i>
                <div class="name">arrow-forward</div>
            </li>

            <li>
                <i class="icon iconfont icon-arrow-dropright-circ"></i>
                <div class="name">arrow-dropright-circ</div>
            </li>

            <li>
                <i class="icon iconfont icon-arrow-dropright"></i>
                <div class="name">arrow-dropright</div>
            </li>

            <li>
                <i class="icon iconfont icon-arrow-dropup"></i>
                <div class="name">arrow-dropup</div>
            </li>

            <li>
                <i class="icon iconfont icon-arrow-round-back"></i>
                <div class="name">arrow-round-back</div>
            </li>

            <li>
                <i class="icon iconfont icon-arrow-round-forward"></i>
                <div class="name">arrow-round-forward</div>
            </li>

            <li>
                <i class="icon iconfont icon-arrow-up"></i>
                <div class="name">arrow-up</div>
            </li>

            <li>
                <i class="icon iconfont icon-attach"></i>
                <div class="name">attach</div>
            </li>

            <li>
                <i class="icon iconfont icon-arrow-round-up"></i>
                <div class="name">arrow-round-up</div>
            </li>

            <li>
                <i class="icon iconfont icon-at"></i>
                <div class="name">at</div>
            </li>

            <li>
                <i class="icon iconfont icon-backspace"></i>
                <div class="name">backspace</div>
            </li>

            <li>
                <i class="icon iconfont icon-arrow-round-down"></i>
                <div class="name">arrow-round-down</div>
            </li>

            <li>
                <i class="icon iconfont icon-basketball"></i>
                <div class="name">basketball</div>
            </li>

            <li>
                <i class="icon iconfont icon-basket"></i>
                <div class="name">basket</div>
            </li>

            <li>
                <i class="icon iconfont icon-barcode"></i>
                <div class="name">barcode</div>
            </li>

            <li>
                <i class="icon iconfont icon-baseball"></i>
                <div class="name">baseball</div>
            </li>

            <li>
                <i class="icon iconfont icon-beaker"></i>
                <div class="name">beaker</div>
            </li>

            <li>
                <i class="icon iconfont icon-battery-charging"></i>
                <div class="name">battery-charging</div>
            </li>

            <li>
                <i class="icon iconfont icon-battery-dead"></i>
                <div class="name">battery-dead</div>
            </li>

            <li>
                <i class="icon iconfont icon-bed"></i>
                <div class="name">bed</div>
            </li>

            <li>
                <i class="icon iconfont icon-battery-full"></i>
                <div class="name">battery-full</div>
            </li>

            <li>
                <i class="icon iconfont icon-beer"></i>
                <div class="name">beer</div>
            </li>

            <li>
                <i class="icon iconfont icon-bluetooth"></i>
                <div class="name">bluetooth</div>
            </li>

            <li>
                <i class="icon iconfont icon-bicycle"></i>
                <div class="name">bicycle</div>
            </li>

            <li>
                <i class="icon iconfont icon-body"></i>
                <div class="name">body</div>
            </li>

            <li>
                <i class="icon iconfont icon-boat"></i>
                <div class="name">boat</div>
            </li>

            <li>
                <i class="icon iconfont icon-bonfire"></i>
                <div class="name">bonfire</div>
            </li>

            <li>
                <i class="icon iconfont icon-book"></i>
                <div class="name">book</div>
            </li>

            <li>
                <i class="icon iconfont icon-bookmark"></i>
                <div class="name">bookmark</div>
            </li>

            <li>
                <i class="icon iconfont icon-bookmarks"></i>
                <div class="name">bookmarks</div>
            </li>

            <li>
                <i class="icon iconfont icon-briefcase"></i>
                <div class="name">briefcase</div>
            </li>

            <li>
                <i class="icon iconfont icon-bowtie"></i>
                <div class="name">bowtie</div>
            </li>

            <li>
                <i class="icon iconfont icon-browsers"></i>
                <div class="name">browsers</div>
            </li>

            <li>
                <i class="icon iconfont icon-build"></i>
                <div class="name">build</div>
            </li>

            <li>
                <i class="icon iconfont icon-bulb"></i>
                <div class="name">bulb</div>
            </li>

            <li>
                <i class="icon iconfont icon-business"></i>
                <div class="name">business</div>
            </li>

            <li>
                <i class="icon iconfont icon-brush"></i>
                <div class="name">brush</div>
            </li>

            <li>
                <i class="icon iconfont icon-cafe"></i>
                <div class="name">cafe</div>
            </li>

            <li>
                <i class="icon iconfont icon-bus"></i>
                <div class="name">bus</div>
            </li>

            <li>
                <i class="icon iconfont icon-calendar"></i>
                <div class="name">calendar</div>
            </li>

            <li>
                <i class="icon iconfont icon-call"></i>
                <div class="name">call</div>
            </li>

            <li>
                <i class="icon iconfont icon-camera"></i>
                <div class="name">camera</div>
            </li>

            <li>
                <i class="icon iconfont icon-car"></i>
                <div class="name">car</div>
            </li>

            <li>
                <i class="icon iconfont icon-cart"></i>
                <div class="name">cart</div>
            </li>

            <li>
                <i class="icon iconfont icon-bug"></i>
                <div class="name">bug</div>
            </li>

            <li>
                <i class="icon iconfont icon-card"></i>
                <div class="name">card</div>
            </li>

            <li>
                <i class="icon iconfont icon-chatboxes"></i>
                <div class="name">chatboxes</div>
            </li>

            <li>
                <i class="icon iconfont icon-calculator"></i>
                <div class="name">calculator</div>
            </li>

            <li>
                <i class="icon iconfont icon-cellular"></i>
                <div class="name">cellular</div>
            </li>

            <li>
                <i class="icon iconfont icon-chatbubbles"></i>
                <div class="name">chatbubbles</div>
            </li>

            <li>
                <i class="icon iconfont icon-checkbox"></i>
                <div class="name">checkbox</div>
            </li>

            <li>
                <i class="icon iconfont icon-cash"></i>
                <div class="name">cash</div>
            </li>

            <li>
                <i class="icon iconfont icon-checkbox-outline"></i>
                <div class="name">checkbox-outline</div>
            </li>

            <li>
                <i class="icon iconfont icon-checkmark-circle"></i>
                <div class="name">checkmark-circle</div>
            </li>

            <li>
                <i class="icon iconfont icon-checkmark-circle-out"></i>
                <div class="name">checkmark-circle-out</div>
            </li>

            <li>
                <i class="icon iconfont icon-checkmark"></i>
                <div class="name">checkmark</div>
            </li>

            <li>
                <i class="icon iconfont icon-clock"></i>
                <div class="name">clock</div>
            </li>

            <li>
                <i class="icon iconfont icon-clipboard"></i>
                <div class="name">clipboard</div>
            </li>

            <li>
                <i class="icon iconfont icon-close"></i>
                <div class="name">close</div>
            </li>

            <li>
                <i class="icon iconfont icon-close-circle"></i>
                <div class="name">close-circle</div>
            </li>

            <li>
                <i class="icon iconfont icon-cloud"></i>
                <div class="name">cloud</div>
            </li>

            <li>
                <i class="icon iconfont icon-close-circle-outline"></i>
                <div class="name">close-circle-outline</div>
            </li>

            <li>
                <i class="icon iconfont icon-cloud-circle"></i>
                <div class="name">cloud-circle</div>
            </li>

            <li>
                <i class="icon iconfont icon-cloud-done"></i>
                <div class="name">cloud-done</div>
            </li>

            <li>
                <i class="icon iconfont icon-cloud-download"></i>
                <div class="name">cloud-download</div>
            </li>

            <li>
                <i class="icon iconfont icon-cloud-upload"></i>
                <div class="name">cloud-upload</div>
            </li>

            <li>
                <i class="icon iconfont icon-cloud-outline"></i>
                <div class="name">cloud-outline</div>
            </li>

            <li>
                <i class="icon iconfont icon-code"></i>
                <div class="name">code</div>
            </li>

            <li>
                <i class="icon iconfont icon-cloudy"></i>
                <div class="name">cloudy</div>
            </li>

            <li>
                <i class="icon iconfont icon-cloudy-night"></i>
                <div class="name">cloudy-night</div>
            </li>

            <li>
                <i class="icon iconfont icon-code-download"></i>
                <div class="name">code-download</div>
            </li>

            <li>
                <i class="icon iconfont icon-code-working"></i>
                <div class="name">code-working</div>
            </li>

            <li>
                <i class="icon iconfont icon-cog"></i>
                <div class="name">cog</div>
            </li>

            <li>
                <i class="icon iconfont icon-color-fill"></i>
                <div class="name">color-fill</div>
            </li>

            <li>
                <i class="icon iconfont icon-color-palette"></i>
                <div class="name">color-palette</div>
            </li>

            <li>
                <i class="icon iconfont icon-color-wand"></i>
                <div class="name">color-wand</div>
            </li>

            <li>
                <i class="icon iconfont icon-color-filter"></i>
                <div class="name">color-filter</div>
            </li>

            <li>
                <i class="icon iconfont icon-compass"></i>
                <div class="name">compass</div>
            </li>

            <li>
                <i class="icon iconfont icon-contact"></i>
                <div class="name">contact</div>
            </li>

            <li>
                <i class="icon iconfont icon-construct"></i>
                <div class="name">construct</div>
            </li>

            <li>
                <i class="icon iconfont icon-contract"></i>
                <div class="name">contract</div>
            </li>

            <li>
                <i class="icon iconfont icon-contacts"></i>
                <div class="name">contacts</div>
            </li>

            <li>
                <i class="icon iconfont icon-contrast"></i>
                <div class="name">contrast</div>
            </li>

            <li>
                <i class="icon iconfont icon-copy"></i>
                <div class="name">copy</div>
            </li>

            <li>
                <i class="icon iconfont icon-create"></i>
                <div class="name">create</div>
            </li>

            <li>
                <i class="icon iconfont icon-desktop"></i>
                <div class="name">desktop</div>
            </li>

            <li>
                <i class="icon iconfont icon-crop"></i>
                <div class="name">crop</div>
            </li>

            <li>
                <i class="icon iconfont icon-cut"></i>
                <div class="name">cut</div>
            </li>

            <li>
                <i class="icon iconfont icon-cube"></i>
                <div class="name">cube</div>
            </li>

            <li>
                <i class="icon iconfont icon-download"></i>
                <div class="name">download</div>
            </li>

            <li>
                <i class="icon iconfont icon-egg"></i>
                <div class="name">egg</div>
            </li>

            <li>
                <i class="icon iconfont icon-done-all"></i>
                <div class="name">done-all</div>
            </li>

            <li>
                <i class="icon iconfont icon-document"></i>
                <div class="name">document</div>
            </li>

            <li>
                <i class="icon iconfont icon-easel"></i>
                <div class="name">easel</div>
            </li>

            <li>
                <i class="icon iconfont icon-disc"></i>
                <div class="name">disc</div>
            </li>

            <li>
                <i class="icon iconfont icon-exit"></i>
                <div class="name">exit</div>
            </li>

            <li>
                <i class="icon iconfont icon-eye"></i>
                <div class="name">eye</div>
            </li>

            <li>
                <i class="icon iconfont icon-expand"></i>
                <div class="name">expand</div>
            </li>

            <li>
                <i class="icon iconfont icon-eye-off"></i>
                <div class="name">eye-off</div>
            </li>

            <li>
                <i class="icon iconfont icon-fastforward"></i>
                <div class="name">fastforward</div>
            </li>

            <li>
                <i class="icon iconfont icon-female"></i>
                <div class="name">female</div>
            </li>

            <li>
                <i class="icon iconfont icon-filing"></i>
                <div class="name">filing</div>
            </li>

            <li>
                <i class="icon iconfont icon-flag"></i>
                <div class="name">flag</div>
            </li>

            <li>
                <i class="icon iconfont icon-finger-print"></i>
                <div class="name">finger-print</div>
            </li>

            <li>
                <i class="icon iconfont icon-fitness"></i>
                <div class="name">fitness</div>
            </li>

            <li>
                <i class="icon iconfont icon-flash"></i>
                <div class="name">flash</div>
            </li>

            <li>
                <i class="icon iconfont icon-flame"></i>
                <div class="name">flame</div>
            </li>

            <li>
                <i class="icon iconfont icon-flashlight"></i>
                <div class="name">flashlight</div>
            </li>

            <li>
                <i class="icon iconfont icon-film"></i>
                <div class="name">film</div>
            </li>

            <li>
                <i class="icon iconfont icon-flash-off"></i>
                <div class="name">flash-off</div>
            </li>

            <li>
                <i class="icon iconfont icon-flask"></i>
                <div class="name">flask</div>
            </li>

            <li>
                <i class="icon iconfont icon-funnel"></i>
                <div class="name">funnel</div>
            </li>

            <li>
                <i class="icon iconfont icon-folder-open"></i>
                <div class="name">folder-open</div>
            </li>

            <li>
                <i class="icon iconfont icon-folder"></i>
                <div class="name">folder</div>
            </li>

            <li>
                <i class="icon iconfont icon-football"></i>
                <div class="name">football</div>
            </li>

            <li>
                <i class="icon iconfont icon-gift"></i>
                <div class="name">gift</div>
            </li>

            <li>
                <i class="icon iconfont icon-flower"></i>
                <div class="name">flower</div>
            </li>

            <li>
                <i class="icon iconfont icon-git-branch"></i>
                <div class="name">git-branch</div>
            </li>

            <li>
                <i class="icon iconfont icon-git-commit"></i>
                <div class="name">git-commit</div>
            </li>

            <li>
                <i class="icon iconfont icon-git-pull-request"></i>
                <div class="name">git-pull-request</div>
            </li>

            <li>
                <i class="icon iconfont icon-git-network"></i>
                <div class="name">git-network</div>
            </li>

            <li>
                <i class="icon iconfont icon-git-compare"></i>
                <div class="name">git-compare</div>
            </li>

            <li>
                <i class="icon iconfont icon-git-merge"></i>
                <div class="name">git-merge</div>
            </li>

            <li>
                <i class="icon iconfont icon-glasses"></i>
                <div class="name">glasses</div>
            </li>

            <li>
                <i class="icon iconfont icon-globe"></i>
                <div class="name">globe</div>
            </li>

            <li>
                <i class="icon iconfont icon-hammer"></i>
                <div class="name">hammer</div>
            </li>

            <li>
                <i class="icon iconfont icon-hand"></i>
                <div class="name">hand</div>
            </li>

            <li>
                <i class="icon iconfont icon-grid"></i>
                <div class="name">grid</div>
            </li>

            <li>
                <i class="icon iconfont icon-happy"></i>
                <div class="name">happy</div>
            </li>

            <li>
                <i class="icon iconfont icon-heart"></i>
                <div class="name">heart</div>
            </li>

            <li>
                <i class="icon iconfont icon-headset"></i>
                <div class="name">headset</div>
            </li>

            <li>
                <i class="icon iconfont icon-heart-dislike"></i>
                <div class="name">heart-dislike</div>
            </li>

            <li>
                <i class="icon iconfont icon-heart-empty"></i>
                <div class="name">heart-empty</div>
            </li>

            <li>
                <i class="icon iconfont icon-heart-half"></i>
                <div class="name">heart-half</div>
            </li>

            <li>
                <i class="icon iconfont icon-help"></i>
                <div class="name">help</div>
            </li>

            <li>
                <i class="icon iconfont icon-help-buoy"></i>
                <div class="name">help-buoy</div>
            </li>

            <li>
                <i class="icon iconfont icon-help-circle"></i>
                <div class="name">help-circle</div>
            </li>

            <li>
                <i class="icon iconfont icon-hourglass"></i>
                <div class="name">hourglass</div>
            </li>

            <li>
                <i class="icon iconfont icon-image"></i>
                <div class="name">image</div>
            </li>

            <li>
                <i class="icon iconfont icon-home"></i>
                <div class="name">home</div>
            </li>

            <li>
                <i class="icon iconfont icon-help-circle-outline"></i>
                <div class="name">help-circle-outline</div>
            </li>

            <li>
                <i class="icon iconfont icon-ice-cream"></i>
                <div class="name">ice-cream</div>
            </li>

            <li>
                <i class="icon iconfont icon-images"></i>
                <div class="name">images</div>
            </li>

            <li>
                <i class="icon iconfont icon-information-circle"></i>
                <div class="name">information-circle</div>
            </li>

            <li>
                <i class="icon iconfont icon-information-circle-o"></i>
                <div class="name">information-circle-o</div>
            </li>

            <li>
                <i class="icon iconfont icon-information"></i>
                <div class="name">information</div>
            </li>

            <li>
                <i class="icon iconfont icon-infinite"></i>
                <div class="name">infinite</div>
            </li>

            <li>
                <i class="icon iconfont icon-jet"></i>
                <div class="name">jet</div>
            </li>

            <li>
                <i class="icon iconfont icon-journal"></i>
                <div class="name">journal</div>
            </li>

            <li>
                <i class="icon iconfont icon-key"></i>
                <div class="name">key</div>
            </li>

            <li>
                <i class="icon iconfont icon-leaf"></i>
                <div class="name">leaf</div>
            </li>

            <li>
                <i class="icon iconfont icon-keypad"></i>
                <div class="name">keypad</div>
            </li>

            <li>
                <i class="icon iconfont icon-laptop"></i>
                <div class="name">laptop</div>
            </li>

            <li>
                <i class="icon iconfont icon-link"></i>
                <div class="name">link</div>
            </li>

            <li>
                <i class="icon iconfont icon-list"></i>
                <div class="name">list</div>
            </li>

            <li>
                <i class="icon iconfont icon-list-box"></i>
                <div class="name">list-box</div>
            </li>

            <li>
                <i class="icon iconfont icon-lock"></i>
                <div class="name">lock</div>
            </li>

            <li>
                <i class="icon iconfont icon-locate"></i>
                <div class="name">locate</div>
            </li>

            <li>
                <i class="icon iconfont icon-log-in"></i>
                <div class="name">log-in</div>
            </li>

            <li>
                <i class="icon iconfont icon-magnet"></i>
                <div class="name">magnet</div>
            </li>

            <li>
                <i class="icon iconfont icon-mail"></i>
                <div class="name">mail</div>
            </li>

            <li>
                <i class="icon iconfont icon-log-out"></i>
                <div class="name">log-out</div>
            </li>

            <li>
                <i class="icon iconfont icon-mail-open"></i>
                <div class="name">mail-open</div>
            </li>

            <li>
                <i class="icon iconfont icon-mail-unread"></i>
                <div class="name">mail-unread</div>
            </li>

            <li>
                <i class="icon iconfont icon-male"></i>
                <div class="name">male</div>
            </li>

            <li>
                <i class="icon iconfont icon-man"></i>
                <div class="name">man</div>
            </li>

            <li>
                <i class="icon iconfont icon-medal"></i>
                <div class="name">medal</div>
            </li>

            <li>
                <i class="icon iconfont icon-medical"></i>
                <div class="name">medical</div>
            </li>

            <li>
                <i class="icon iconfont icon-medkit"></i>
                <div class="name">medkit</div>
            </li>

            <li>
                <i class="icon iconfont icon-map"></i>
                <div class="name">map</div>
            </li>

            <li>
                <i class="icon iconfont icon-menu"></i>
                <div class="name">menu</div>
            </li>

            <li>
                <i class="icon iconfont icon-mic"></i>
                <div class="name">mic</div>
            </li>

            <li>
                <i class="icon iconfont icon-microphone"></i>
                <div class="name">microphone</div>
            </li>

            <li>
                <i class="icon iconfont icon-mic-off"></i>
                <div class="name">mic-off</div>
            </li>

            <li>
                <i class="icon iconfont icon-moon"></i>
                <div class="name">moon</div>
            </li>

            <li>
                <i class="icon iconfont icon-more"></i>
                <div class="name">more</div>
            </li>

            <li>
                <i class="icon iconfont icon-musical-note"></i>
                <div class="name">musical-note</div>
            </li>

            <li>
                <i class="icon iconfont icon-move"></i>
                <div class="name">move</div>
            </li>

            <li>
                <i class="icon iconfont icon-musical-notes"></i>
                <div class="name">musical-notes</div>
            </li>

            <li>
                <i class="icon iconfont icon-megaphone"></i>
                <div class="name">megaphone</div>
            </li>

            <li>
                <i class="icon iconfont icon-my"></i>
                <div class="name">my</div>
            </li>

            <li>
                <i class="icon iconfont icon-navigate"></i>
                <div class="name">navigate</div>
            </li>

            <li>
                <i class="icon iconfont icon-notifications"></i>
                <div class="name">notifications</div>
            </li>

            <li>
                <i class="icon iconfont icon-notifications-off"></i>
                <div class="name">notifications-off</div>
            </li>

            <li>
                <i class="icon iconfont icon-notifications-outlin"></i>
                <div class="name">notifications-outlin</div>
            </li>

            <li>
                <i class="icon iconfont icon-nuclear"></i>
                <div class="name">nuclear</div>
            </li>

            <li>
                <i class="icon iconfont icon-nutrition"></i>
                <div class="name">nutrition</div>
            </li>

            <li>
                <i class="icon iconfont icon-options"></i>
                <div class="name">options</div>
            </li>

            <li>
                <i class="icon iconfont icon-open"></i>
                <div class="name">open</div>
            </li>

            <li>
                <i class="icon iconfont icon-outlet"></i>
                <div class="name">outlet</div>
            </li>

            <li>
                <i class="icon iconfont icon-paper"></i>
                <div class="name">paper</div>
            </li>

            <li>
                <i class="icon iconfont icon-paper-plane"></i>
                <div class="name">paper-plane</div>
            </li>

            <li>
                <i class="icon iconfont icon-person"></i>
                <div class="name">person</div>
            </li>

            <li>
                <i class="icon iconfont icon-partly-sunny"></i>
                <div class="name">partly-sunny</div>
            </li>

            <li>
                <i class="icon iconfont icon-pause"></i>
                <div class="name">pause</div>
            </li>

            <li>
                <i class="icon iconfont icon-people"></i>
                <div class="name">people</div>
            </li>

            <li>
                <i class="icon iconfont icon-paw"></i>
                <div class="name">paw</div>
            </li>

            <li>
                <i class="icon iconfont icon-phone-portrait"></i>
                <div class="name">phone-portrait</div>
            </li>

            <li>
                <i class="icon iconfont icon-phone-landscape"></i>
                <div class="name">phone-landscape</div>
            </li>

            <li>
                <i class="icon iconfont icon-photos"></i>
                <div class="name">photos</div>
            </li>

            <li>
                <i class="icon iconfont icon-pin"></i>
                <div class="name">pin</div>
            </li>

            <li>
                <i class="icon iconfont icon-pie"></i>
                <div class="name">pie</div>
            </li>

            <li>
                <i class="icon iconfont icon-pint"></i>
                <div class="name">pint</div>
            </li>

            <li>
                <i class="icon iconfont icon-pizza"></i>
                <div class="name">pizza</div>
            </li>

            <li>
                <i class="icon iconfont icon-planet"></i>
                <div class="name">planet</div>
            </li>

            <li>
                <i class="icon iconfont icon-play"></i>
                <div class="name">play</div>
            </li>

            <li>
                <i class="icon iconfont icon-play-circle"></i>
                <div class="name">play-circle</div>
            </li>

            <li>
                <i class="icon iconfont icon-person-add"></i>
                <div class="name">person-add</div>
            </li>

            <li>
                <i class="icon iconfont icon-pricetag"></i>
                <div class="name">pricetag</div>
            </li>

            <li>
                <i class="icon iconfont icon-power"></i>
                <div class="name">power</div>
            </li>

            <li>
                <i class="icon iconfont icon-pulse"></i>
                <div class="name">pulse</div>
            </li>

            <li>
                <i class="icon iconfont icon-podium"></i>
                <div class="name">podium</div>
            </li>

            <li>
                <i class="icon iconfont icon-print"></i>
                <div class="name">print</div>
            </li>

            <li>
                <i class="icon iconfont icon-pricetags"></i>
                <div class="name">pricetags</div>
            </li>

            <li>
                <i class="icon iconfont icon-quote"></i>
                <div class="name">quote</div>
            </li>

            <li>
                <i class="icon iconfont icon-qr-scanner"></i>
                <div class="name">qr-scanner</div>
            </li>

            <li>
                <i class="icon iconfont icon-radio-button-off"></i>
                <div class="name">radio-button-off</div>
            </li>

            <li>
                <i class="icon iconfont icon-radio-button-on"></i>
                <div class="name">radio-button-on</div>
            </li>

            <li>
                <i class="icon iconfont icon-rainy"></i>
                <div class="name">rainy</div>
            </li>

            <li>
                <i class="icon iconfont icon-radio"></i>
                <div class="name">radio</div>
            </li>

            <li>
                <i class="icon iconfont icon-refresh"></i>
                <div class="name">refresh</div>
            </li>

            <li>
                <i class="icon iconfont icon-redo"></i>
                <div class="name">redo</div>
            </li>

            <li>
                <i class="icon iconfont icon-refresh-circle"></i>
                <div class="name">refresh-circle</div>
            </li>

            <li>
                <i class="icon iconfont icon-remove"></i>
                <div class="name">remove</div>
            </li>

            <li>
                <i class="icon iconfont icon-recording"></i>
                <div class="name">recording</div>
            </li>

            <li>
                <i class="icon iconfont icon-remove-circle"></i>
                <div class="name">remove-circle</div>
            </li>

            <li>
                <i class="icon iconfont icon-resize"></i>
                <div class="name">resize</div>
            </li>

            <li>
                <i class="icon iconfont icon-restaurant"></i>
                <div class="name">restaurant</div>
            </li>

            <li>
                <i class="icon iconfont icon-remove-circle-outlin"></i>
                <div class="name">remove-circle-outlin</div>
            </li>

            <li>
                <i class="icon iconfont icon-return-left"></i>
                <div class="name">return-left</div>
            </li>

            <li>
                <i class="icon iconfont icon-reorder"></i>
                <div class="name">reorder</div>
            </li>

            <li>
                <i class="icon iconfont icon-return-right"></i>
                <div class="name">return-right</div>
            </li>

            <li>
                <i class="icon iconfont icon-reverse-camera"></i>
                <div class="name">reverse-camera</div>
            </li>

            <li>
                <i class="icon iconfont icon-rewind"></i>
                <div class="name">rewind</div>
            </li>

            <li>
                <i class="icon iconfont icon-rocket"></i>
                <div class="name">rocket</div>
            </li>

            <li>
                <i class="icon iconfont icon-ribbon"></i>
                <div class="name">ribbon</div>
            </li>

            <li>
                <i class="icon iconfont icon-rose"></i>
                <div class="name">rose</div>
            </li>

            <li>
                <i class="icon iconfont icon-sad"></i>
                <div class="name">sad</div>
            </li>

            <li>
                <i class="icon iconfont icon-repeat"></i>
                <div class="name">repeat</div>
            </li>

            <li>
                <i class="icon iconfont icon-save"></i>
                <div class="name">save</div>
            </li>

            <li>
                <i class="icon iconfont icon-school"></i>
                <div class="name">school</div>
            </li>

            <li>
                <i class="icon iconfont icon-search"></i>
                <div class="name">search</div>
            </li>

            <li>
                <i class="icon iconfont icon-send"></i>
                <div class="name">send</div>
            </li>

            <li>
                <i class="icon iconfont icon-settings"></i>
                <div class="name">settings</div>
            </li>

            <li>
                <i class="icon iconfont icon-share-alt"></i>
                <div class="name">share-alt</div>
            </li>

            <li>
                <i class="icon iconfont icon-share"></i>
                <div class="name">share</div>
            </li>

            <li>
                <i class="icon iconfont icon-shirt"></i>
                <div class="name">shirt</div>
            </li>

            <li>
                <i class="icon iconfont icon-shuffle"></i>
                <div class="name">shuffle</div>
            </li>

            <li>
                <i class="icon iconfont icon-skip-forward"></i>
                <div class="name">skip-forward</div>
            </li>

            <li>
                <i class="icon iconfont icon-snow"></i>
                <div class="name">snow</div>
            </li>

            <li>
                <i class="icon iconfont icon-skip-backward"></i>
                <div class="name">skip-backward</div>
            </li>

            <li>
                <i class="icon iconfont icon-square-outline"></i>
                <div class="name">square-outline</div>
            </li>

            <li>
                <i class="icon iconfont icon-speedometer"></i>
                <div class="name">speedometer</div>
            </li>

            <li>
                <i class="icon iconfont icon-square"></i>
                <div class="name">square</div>
            </li>

            <li>
                <i class="icon iconfont icon-star"></i>
                <div class="name">star</div>
            </li>

            <li>
                <i class="icon iconfont icon-star-half"></i>
                <div class="name">star-half</div>
            </li>

            <li>
                <i class="icon iconfont icon-star-outline"></i>
                <div class="name">star-outline</div>
            </li>

            <li>
                <i class="icon iconfont icon-stopwatch"></i>
                <div class="name">stopwatch</div>
            </li>

            <li>
                <i class="icon iconfont icon-subway"></i>
                <div class="name">subway</div>
            </li>

            <li>
                <i class="icon iconfont icon-stats"></i>
                <div class="name">stats</div>
            </li>

            <li>
                <i class="icon iconfont icon-sunny"></i>
                <div class="name">sunny</div>
            </li>

            <li>
                <i class="icon iconfont icon-switch"></i>
                <div class="name">switch</div>
            </li>

            <li>
                <i class="icon iconfont icon-swap"></i>
                <div class="name">swap</div>
            </li>

            <li>
                <i class="icon iconfont icon-sync"></i>
                <div class="name">sync</div>
            </li>

            <li>
                <i class="icon iconfont icon-tablet-landscape"></i>
                <div class="name">tablet-landscape</div>
            </li>

            <li>
                <i class="icon iconfont icon-tablet-portrait"></i>
                <div class="name">tablet-portrait</div>
            </li>

            <li>
                <i class="icon iconfont icon-tennisball"></i>
                <div class="name">tennisball</div>
            </li>

            <li>
                <i class="icon iconfont icon-thermometer"></i>
                <div class="name">thermometer</div>
            </li>

            <li>
                <i class="icon iconfont icon-text"></i>
                <div class="name">text</div>
            </li>

            <li>
                <i class="icon iconfont icon-thumbs-down"></i>
                <div class="name">thumbs-down</div>
            </li>

            <li>
                <i class="icon iconfont icon-thunderstorm"></i>
                <div class="name">thunderstorm</div>
            </li>

            <li>
                <i class="icon iconfont icon-thumbs-up"></i>
                <div class="name">thumbs-up</div>
            </li>

            <li>
                <i class="icon iconfont icon-time"></i>
                <div class="name">time</div>
            </li>

            <li>
                <i class="icon iconfont icon-timer"></i>
                <div class="name">timer</div>
            </li>

            <li>
                <i class="icon iconfont icon-today"></i>
                <div class="name">today</div>
            </li>

            <li>
                <i class="icon iconfont icon-top"></i>
                <div class="name">top</div>
            </li>

            <li>
                <i class="icon iconfont icon-train"></i>
                <div class="name">train</div>
            </li>

            <li>
                <i class="icon iconfont icon-transgender"></i>
                <div class="name">transgender</div>
            </li>

            <li>
                <i class="icon iconfont icon-trash"></i>
                <div class="name">trash</div>
            </li>

            <li>
                <i class="icon iconfont icon-trending-down"></i>
                <div class="name">trending-down</div>
            </li>

            <li>
                <i class="icon iconfont icon-trophy"></i>
                <div class="name">trophy</div>
            </li>

            <li>
                <i class="icon iconfont icon-tv"></i>
                <div class="name">tv</div>
            </li>

            <li>
                <i class="icon iconfont icon-undo"></i>
                <div class="name">undo</div>
            </li>

            <li>
                <i class="icon iconfont icon-umbrella"></i>
                <div class="name">umbrella</div>
            </li>

            <li>
                <i class="icon iconfont icon-trending-up"></i>
                <div class="name">trending-up</div>
            </li>

            <li>
                <i class="icon iconfont icon-unlock"></i>
                <div class="name">unlock</div>
            </li>

            <li>
                <i class="icon iconfont icon-videocam"></i>
                <div class="name">videocam</div>
            </li>

            <li>
                <i class="icon iconfont icon-volume-low"></i>
                <div class="name">volume-low</div>
            </li>

            <li>
                <i class="icon iconfont icon-volume-high"></i>
                <div class="name">volume-high</div>
            </li>

            <li>
                <i class="icon iconfont icon-volume-mute"></i>
                <div class="name">volume-mute</div>
            </li>

            <li>
                <i class="icon iconfont icon-volume-off"></i>
                <div class="name">volume-off</div>
            </li>

            <li>
                <i class="icon iconfont icon-wallet"></i>
                <div class="name">wallet</div>
            </li>

            <li>
                <i class="icon iconfont icon-warning"></i>
                <div class="name">warning</div>
            </li>

            <li>
                <i class="icon iconfont icon-walk"></i>
                <div class="name">walk</div>
            </li>

            <li>
                <i class="icon iconfont icon-watch"></i>
                <div class="name">watch</div>
            </li>

            <li>
                <i class="icon iconfont icon-water"></i>
                <div class="name">water</div>
            </li>

            <li>
                <i class="icon iconfont icon-wifi"></i>
                <div class="name">wifi</div>
            </li>

            <li>
                <i class="icon iconfont icon-wine"></i>
                <div class="name">wine</div>
            </li>

            <li>
                <i class="icon iconfont icon-woman"></i>
                <div class="name">woman</div>
            </li>

        </ul>
    </div>
</body>

</html>